.navbar-brand img {
  height: 80px;
}
.carousel-inner img {
  height: 200px;
}
.custom-carousel-arrow {
  top: 20px !important;
}
.carousel-control-prev.custom-carousel-arrow {
  left: -130px !important; /* Move rightwards from the left edge */
}

.carousel-control-next.custom-carousel-arrow {
  right: 1435px !important; /* Move leftwards from the right edge */
}
