<html>
  <head>
    <style>
      




    </style>
  </head>
  <body>
    <h1 id="user_feedback"></h1>
    <h1>
      <p>
        Yippie creature
      </p>
    </h1>
    <h2><img width="1400" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtCyyX03XDLnTSbj1821aREJ1y_cTRQsyxww&s" alt="">
    <h3>
      <iframe width="1400" height="1400" src="https://www.youtube.com/embed/YTJyaeaRsO0?si=W5GmBXxHO2nU2eLT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </h3>
    <h4>
      <p>
        Anyway, im thinking right, if you need to pass the time, watch some paint dry! If you dont have any paint, refer to the video below
      </p>
    </h4>
    <h5>
      <iframe width="150" height="150" src="https://www.youtube.com/embed/PLOPygVcaVE?si=oDqih-pTaYCp9HIa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </h5>
    <h6>
      <p>If that was a little bit too long for you, heres a shorter video</p>
      <<iframe width="560000000000000" height="31" src="https://www.youtube.com/embed/qPkZ2fFpBKY?si=1sRmoV6RqGMglAz_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    </h6>

    <h1>Hello {{front_end_data}}</h1>
  </body>
  <SCRIPT src="static/js/script.js"></SCRIPT>
</html>