{% extends 'layout.html' %}
{% block content %}


<h1>Positives of nuclear energy</h1>
<h2>What are they?</h2>
<p>
Nuclear energy creates a large amount of clean, safe energy with virtually no downside.
For reference, a singular nuclear reactor produces around 23 million kwh per day, while an average household of 4 in Australia consumes around 20 kwh per day.
This means, that a single nuclear power plant can power 1 million households all across Sydney, thats a crazy bang for your buck!
And with it being one of the cleanest sources of energy, with the only harmful thing produced being spent nuclear fuel, we can keep using it for generations.
</p>


</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/index.html"
        >Back to home</a


{%endblock%}
