{% block content %}

<h1>How does nuclear energy work?</h1>
<h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a urna commodo, tempor ligula vestibulum, dapibus dolor. Morbi et sollicitudin nunc. Vivamus et sem nulla. Vivamus quis finibus lorem. Nullam iaculis, tellus placerat sodales ultrices, orci mi faucibus nisi, at rutrum massa nisi non lorem. Suspendisse potenti. Quisque metus felis, iaculis vel risus suscipit, scelerisque mattis ligula. Aenean ac vestibulum orci, vel elementum quam. Sed lacinia hendrerit sagittis. Donec ac elit id nisi tincidunt semper eget at lacus. Aenean nunc lacus, fringilla et ex at, condimentum blandit neque. Nunc ullamcorper nisl in felis scelerisque, sit amet ultricies metus rutrum. Mauris.</h2>


</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/index.html"
        >Back to home</a


{%endblock%}
